#container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: brown;
}

.card-img-top
{
  height: 300px;
}

.card 
{
position: absolute;
}

.card-title
{
  text-align: center;
}